// set primary colours //

$fmm-green: #4EAD97; // global text color //

$fmm-black: #000000; // modal colour //

$fmm-white: #ffffff; // global white color //

$fmm-gray: #8A8A8A; // global grayed out color //




// set button states //

$fmm-green: #4EAD97; // global text color //

$fmm-black-outline: #000000; // modal colour //

$fmm-green-faded: #C4E4DC; // global white color //

$min-breakpoint-tablet: 48rem;

$min-breakpoint-desktop: 80rem;